{erl_first_files, []}.
{cover_enabled, true}.
{erl_opts, [debug_info]}.
{sub_dirs, ["rel"]}.
{deps_dir, [".."]}.
{deps, [
         {piqi, "", {git, "git://github.com/RGafiyatullin/piqi-prebuilt.git", {branch, "master"}}}
]}.
{pre_hooks, [
   {compile, "mkdir -p src"},
   {compile, "mkdir -p include"},
   {compile, "../piqi/priv/bin-$(uname -s)-$(uname -m)/piqic erlang -C piqi piqi/billy_session.piqi"},
   {compile, "cp piqi/billy_session_piqi.erl src/"},
   {compile, "cp piqi/billy_session_piqi.hrl include/"},
   {compile, "../piqi/priv/bin-$(uname -s)-$(uname -m)/piqi to-proto ./piqi/billy_session.piqi"},
   {compile, "../piqi/priv/bin-$(uname -s)-$(uname -m)/piqic erlang -C piqi piqi/billy_transaction.piqi"},
   {compile, "cp piqi/billy_transaction_piqi.erl src/"},
   {compile, "cp piqi/billy_transaction_piqi.hrl include/"},
   {compile, "../piqi/priv/bin-$(uname -s)-$(uname -m)/piqi to-proto ./piqi/billy_transaction.piqi"}
]}.
