%% -*- erlang -*-

{ erl_first_files, [ gen_package ] }.
{ cover_enabled, true }.
{ erl_opts, [ debug_info ] }.
{ sub_dirs, [ "rel"] }.
{ deps_dir, [ ".." ] }.
{ deps, [
         {piqi, "", {git, "git://github.com/RomkoGoofique/piqi-prebuilt.git", {branch, "master"}}}
        ]}.
{pre_hooks, [
   {compile, "mkdir -p src"},
   {compile, "mkdir -p include"},
   {compile, "../piqi/priv/bin-$(uname -s)-$(uname -m)/piqic erlang -C piqi piqi/billy_protocol.piqi" },
   {compile, "cp piqi/billy_protocol_piqi.erl src/"},
   {compile, "cp piqi/billy_protocol_piqi.hrl include/"},
   {compile, "../piqi/priv/bin-Darwin-x86_64/piqi to-proto ./piqi/billy_protocol.piqi"}
]}.
